@import 'variables';

#content {
  .table-of-contents {
    background-color: $color-grey-very-light;
    padding: 1em;
    margin: $base-margin-y 0;

    ul {
      list-style: none;
      padding-left: 1em;
      margin: 0;
      li {
        color: $color-grey !important;
      }
    }

    > ul {
      padding-left: 0;
    }

    a {
      @include unstyled-link;
      display: block;
      &:hover {
        color: $color-grey-very-dark !important;
      }
    }
  }
}
