@import '~vuetify/src/styles/settings/variables';
@import '~vuetify/src/styles/settings/colors';
@import 'mixins';

@import '~@vuepress/core/.temp/variables';

$base-font-size: 15px !default;
$base-font-color: #444 !default;
$base-line-height: 1.7 !default;
$base-margin-y: 1.5rem !default;
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-japanese: Lato, Emoji, Arial, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
$font-family-monospace: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

$sidebar-width: 300px !default;
$sidebar-padding-x: 12px !default;

$h-margin-top: 1.5em !default;
$h-margin-bottom: 1em !default;
$h-anchor-margin-top: 80px !default;

$custom-block-padding-x: 1.3rem !default;
$custom-block-padding-y: 1rem !default;

$code-font-size: 0.9rem !default;
$code-font-size-mobile: 0.85em !default;;
$code-line-height: 1.7 !default;
$code-padding-y: 1em !default;
$code-padding-x: 1.3em !default;
$code-color-line-number: #666 !default;

$color-brand: #ff876f !default;
$color-link: $color-brand !default;
$color-app-bar: $color-brand !default;
$color-app-bar-title: #fff !default;

$color-grey-very-light: map-get($grey, 'lighten-4') !default;
$color-grey-light: map-get($grey, 'lighten-2') !default;
$color-grey: map-get($grey, 'base') !default;
$color-grey-dark: map-get($grey, 'darken-1') !default;
$color-grey-very-dark: map-get($grey, 'darken-3') !default;
